<nav id="nav">
    <div class="logo">
        <a href="../../pages/home/">
            <img src="../../assets/images/logo.png" alt="StudyFlow logo">
            <span>StudyFlow</span>
        </a>
    </div>
    <div class="search-input">
        <input 
            class="input-text" 
            type="search" 
            name="search-task"
            placeholder="Pesquisar"
        >
    </div>
    <div class="links">
        <div class="navbar-link">
            <img class="link-icon" src="../../assets/svgs/pin-icon.svg">
            <a href="../../pages/tasks/index.html">Minhas Tarefas</a>
        </div>
    </div>
</nav>

<nav id="nav-mobile">
    <div class="logo">
        <a href="../../pages/home/">
            <img src="../../assets/images/logo.png" alt="StudyFlow logo">
            <span>StudyFlow</span>
        </a>
    </div>
    <div class="search-input">
        <input 
            class="input-text" 
            type="search" 
            name="search-task"
            placeholder="Pesquisar"
        >
    </div>

    <div class="navbar-link">
        <img class="link-icon" src="../../assets/svgs/pin-icon.svg">
        <a href="../../pages/tasks/index.html">Tarefas</a>
    </div>
</nav>