:root {
    --primary-color: #F2293A;
    --secondary-color: #590202;
    --text-color: #0D0D0D;
    --background-color: #F2F2F2;
    --background-secondary: #dddddd;
    --border-radius: 10px
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}